body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111; /* Color de fondo oscuro */
    color: #00ff00; /* Color de texto verde Matrix */
}

#fileInput {
    margin-bottom: 10px;
}

#fileInfo {
    background-color: #222; /* Color de fondo oscuro más oscuro */
    border: 1px solid #444; /* Borde más oscuro */
    padding: 20px; /* Aumento del espacio interno */
    border-radius: 10px; /* Bordes más redondeados */
    color: #00ff00; /* Color de texto verde Matrix */
    max-width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
}

#preview {
    max-width: 100%;
    display: none;
    margin-top: 20px; /* Aumento del margen superior */
}
